#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --dark-green: #375344;
}
h1 {
  margin-bottom: 20px;
  color: var(--dark-green);
}

.todo-container {
  background-color: var(--dark-green);
  border-radius: 5px;
}

.input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
} 

.task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  color: #ffffff;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
} 
.task-item {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  text-align: left;
  border-bottom: #ffffff 1px solid;

}
.task-item:last-child {
  border-bottom: none;
}
